

/* START OF CAROUSEL */
.viewportt{
    display: table;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #f4f4f4;
    margin-left:auto;
    margin-right:auto;
}

/*       Bs Fade carousel       */
.fade-carousel{
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .carousel-item{
    height: 100vh;
}
.fade-carousel .carousel-indicators > li{
    margin: 0 2px;
    background-color: #4F9986;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active{
    width: 10px;
    height: 10px;
    opacity: 1;
}

/*      Carousel Captions       */
.fade-carousel .carousel-inner .carousel-caption{
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
    
}
.fade-carousel .carousel-inner .carousel-caption h1{
    font-size:200%;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .carousel-caption{
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .active .carousel-caption {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/*          Custom Buttons      */
.btn.btn-lg {
    color:white;
    padding: 10px 40px;
    outline: none;
    margin: 20px auto;
}


/*       Slides backgrounds     */
.fade-carousel .carousel-inner .slide-1, 
.fade-carousel .carousel-inner .slide-2,
.fade-carousel .carousel-inner .slide-3,
.fade-carousel .carousel-inner .slide-4,
.fade-carousel .carousel-inner .slide-5 {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.fade-carousel .carousel-inner .slide-1 {
    background-image: url(../photos/carousel/resort1.jpg); 
}
.fade-carousel .carousel-inner .slide-2 {
    background-image: url(../photos/carousel/resort2.jpg);
}
.fade-carousel .carousel-inner .slide-3 {
    background-image: url(../photos/carousel/resort3.jpg);
}
.fade-carousel .carousel-inner .slide-4 {
    background-image: url(../photos/carousel/resort4.jpg); 
}
.fade-carousel .carousel-inner .slide-5 {
    background-image: url(../photos/carousel/resort5.jpg); 
}

.btn-car{
  background-color: #1E6B57;
}
.btn-car:hover{
  color:#373737;
}
/* BLURRY EFFECT */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #080d15;
    opacity: .5;
}
/* END OF BLURRY EFFECT */
/* END OF CAROUSEL */